{% extends 'base.html' %}
{% block title %}Tài khoản{% endblock %}

{% block content %}
<div class="container my-5">
  <div class="row">
    <!-- SIDEBAR -->
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h6 class="fw-bold mb-3">Tài khoản</h6>
          <ul class="nav flex-column gap-2">
            <li><a href="{% url 'users:profile' %}" class="nav-link {% if active == 'info' %}fw-bold text-success{% endif %}">Thông tin cá nhân</a></li>
            <li><a href="{% url 'orders:order_history' %}" class="nav-link">Đơn hàng của bạn</a></li>
            <li><a href="#" class="nav-link">Sản phẩm yêu thích</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- CONTENT -->
    <div class="col-md-9">{% block profile_content %}{% endblock %} </div>
  </div>
</div>
{% endblock %}
