django
Pillow
python-decouple
unidecode
requests
django-jazzmin

payos 
cryptography
django-allauth
PyJWT

django-ckeditor
django-import-export
django-unused-media
django-cleanup

google-generativeai
google-genai
python-dotenv