{% extends 'base.html' %}
{% block title %}Reset mật khẩu{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow">
      <div class="card-body p-4">
        <h4 class="text-center mb-4">Yêu cầu đặt lại mật khẩu</h4>
        <p class="text-center mb-4">Xin vui lòng nhập email để chúng tôi gửi hướng dẫn lấy lại mật khẩu!</p>
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label class="form-label">Email <span class="text-danger">*</span></label>
            {{ form.email}}
            {% if form.email.errors %}
              <div class="text-danger small">{{ form.email.errors|join:", " }}</div>
            {% endif %}
          </div>
          <div class="text-center mt-3">
            <button type="submit" class="btn btn-success w-100">Gửi</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
