{% extends 'base.html' %}
{% load static %}

{% block title %}Cập nhật thành công{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
{% endblock %}

{% block content %}
<div class="success-overlay">
  <div class="success-modal">
    <a href="{% url 'users:login' %}" class="close-btn">&times;</a>
    <div class="check-circle">
        <i class="bi bi-check-lg"></i>
    </div>
    <h2 class="success-title">Cập nhật thành công!</h2>
    <a href="{% url 'users:login' %}" class="success-btn">
      Quay lại
    </a>
  </div>
</div>
{% endblock %}
