{% extends 'base.html' %}
{% block title %}Gửi yêu cầu{% endblock %}

{% block content %}

<!-- Modal -->
<div class="modal fade show" id="resetModal" tabindex="-1" style="display:block;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header position-relative">
        <h4 class="text-center mb-4 w-100">
            Thành công
        </h4>
        <button type="button"
                class="btn-close position-absolute end-0 me-3"
                onclick="closeModal()">
        </button>
    </div>
      <div class="modal-body text-center">
        <p>Chúng tôi đã gửi email hướng dẫn đặt lại mật khẩu<br>(nếu email tồn tại trong hệ thống).</p>
      </div>
      <div class="modal-footer">
        <a href="{% url 'users:login' %}" class="btn btn-success w-100">Về trang đăng nhập</a>
      </div>
    </div>
  </div>
</div>

<!-- Backdrop -->
<div class="modal-backdrop fade show"></div>
<script>
function closeModal() {
  document.getElementById('resetModal').style.display = 'none';
  document.querySelector('.modal-backdrop').remove();
}
</script>
{% endblock %}
